## 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
    i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
    ii) Top 10 women’s ODI players along with the records of their team and rating.
    iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [212]:
import requests
from bs4 import BeautifulSoup

In [213]:
women_url = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [214]:
women_url

In [215]:
soup = BeautifulSoup(women_url.content)

In [216]:
teams = soup.find_all('td',class_='table-body__cell rankings-table__team')
matches_points = soup.find_all('td',class_='table-body__cell u-center-text')

rating_teams = soup.find_all('td',class_='table-body__cell u-text-right rating')

In [217]:
teams

[<td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="u-hide-phablet">South Africa</span>
 <span class="u-show-phablet">SA</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo ENG"></span>
 <span class="u-hide-phablet">England</span>
 <span class="u-show-phablet">ENG</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="u-hide-phablet">India</span>
 <span class="u-show-phablet">IND</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NZ"></span>
 <span class="u-hide-phablet">New Zealand</span>
 <span class="u-show-phablet">NZ</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo WI"></span>
 <span class="u-hide-phablet">West Indies</span>
 <span class="u-show-phablet">WI</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PAK"></span>
 <span class="u-hide-phablet">Pakistan</span>
 <span class="u-show-phablet">PAK</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="u-hide-phablet">Bangladesh</span>
 <span class="u-show-phablet">BAN</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SL"></span>
 <span class="u-hide-phablet">Sri Lanka</span>
 <span class="u-show-phablet">SL</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IRE"></span>
 <span class="u-hide-phablet">Ireland</span>
 <span class="u-show-phablet">IRE</span>
 </td>]

In [218]:
odi_teams_wm = []
for i in teams[:9]:
    for j in i.find('span',class_='u-hide-phablet'):
        odi_teams_wm.append(j)

        
points = []
matches = []
c = 0
for i in matches_points[:18]:
    if(c%2==0):
        matches.append(i.text)
    else:
        points.append(i.text.replace(',',''))
    c = c+1

    
team_rating = []
for i in rating_teams[:9]:
    team_rating.append(i.text)

In [219]:
odi_teams_wm,points,matches,team_rating

(['South Africa',
  'England',
  'India',
  'New Zealand',
  'West Indies',
  'Pakistan',
  'Bangladesh',
  'Sri Lanka',
  'Ireland'],
 ['2828', '1993', '2226', '1947', '1025', '1101', '306', '519', '25'],
 ['24', '17', '20', '21', '12', '15', '5', '11', '2'],
 ['118', '117', '111', '93', '85', '73', '61', '47', '13'])

### EXTRACTING TOP DETAILS OF ODI 1st  NUMBER TEAM

In [220]:
top_match = soup.find('td',class_='rankings-block__banner--matches')
top_point= soup.find('td',class_='rankings-block__banner--points')
top_rating = soup.find('td',class_='rankings-block__banner--rating u-text-right')

In [221]:
top_match,top_point,top_rating

(<td class="rankings-block__banner--matches">18</td>,
 <td class="rankings-block__banner--points">2,955</td>,
 <td class="rankings-block__banner--rating u-text-right">
                             164
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>)

In [222]:
top_team = soup.find('span','u-hide-phablet')

In [223]:
odi_teams_wm.append(top_team.text)

In [224]:
final_rating = top_rating.text.replace('\n','')
points.append(top_point.text.replace(',',''))
matches.append(top_match.text)
team_rating.append(final_rating.replace(' ',''))

In [225]:
odi_team_top_dict = {
    'TEAM NAME': odi_teams_wm, 'POINTS': points,'MATCHES':matches,'RATING': team_rating
}

In [226]:
import pandas as pd

In [227]:
women_odi_table = pd.DataFrame(odi_team_top_dict)

In [228]:
women_odi_table['RATING']=women_odi_table['RATING'].astype('int32')
women_odi_table['POINTS']=women_odi_table['POINTS'].astype('int32')
women_odi_table['MATCHES']=women_odi_table['MATCHES'].astype('int32')

In [229]:
table_women_odi = women_odi_table.sort_values(by=['RATING'],ascending=False).reset_index()

In [230]:
table_women_odi.drop('index',inplace=True,axis=1)

In [231]:
table_women_odi

      TEAM NAME  POINTS  MATCHES  RATING
0     Australia    2955       18     164
1  South Africa    2828       24     118
2       England    1993       17     117
3         India    2226       20     111
4   New Zealand    1947       21      93
5   West Indies    1025       12      85
6      Pakistan    1101       15      73
7    Bangladesh     306        5      61
8     Sri Lanka     519       11      47
9       Ireland      25        2      13

## ii) Top 10 women’s ODI players along with the records of their team and rating.

In [232]:
url_women1 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

In [233]:
 url_women1

In [234]:
soup1 = BeautifulSoup(url_women1.content)

In [235]:
players = soup1.find_all('td',class_='table-body__cell name')
teams = soup1.find_all('span',class_='table-body__logo-text')
rating_players  = soup1.find_all('td','table-body__cell u-text-right rating')

In [236]:
pls = []
for i in players[:9]:
    for j in i.find('a'):
        pls.append(j)


teams_batsmen = []
pl_batsmen_rating=[]

for i in teams[:9]:
    teams_batsmen.append(i.text)
        
        
for i in rating_players[:9]:
    pl_batsmen_rating.append(i.text)

In [237]:
pl_batsmen_rating

['758', '756', '746', '723', '715', '710', '709', '685', '683']

#### EXTRACTING DETAILS OF top 1 banner player

In [238]:
top_player_btm= soup1.find('div',class_='rankings-block__banner--name')
top_team_btm= soup1.find('div',class_='rankings-block__banner--nationality')
top_rating_btm = soup1.find('div',class_='rankings-block__banner--rating')

In [239]:
top_player_btm,top_rating_btm,top_team_btm

(<div class="rankings-block__banner--name">Tammy Beaumont</div>,
 <div class="rankings-block__banner--rating">765</div>,
 <div class="rankings-block__banner--nationality">
 <div class="flag-15 ENG"></div>
 <span class="rankings-block__banner--nation"></span>ENG
                             <div class="rankings-block__banner--rating">765</div>
 </div>)

In [240]:
count = 0 
country = ''
for i in top_team_btm:
    count = count+1
    if(count==5):
        country=i
        
top_tn = country.replace('\n','')
teams_batsmen.append(top_tn.replace(' ',''))
pl_batsmen_rating.append(top_rating_btm.text)
pls.append(top_player_btm.text)

In [241]:
odi_women_bats_dict = {
    'Team': teams_batsmen, 'Player': pls, 'Rating': pl_batsmen_rating
}
women_odi_btm_table = pd.DataFrame(odi_women_bats_dict
                                )

In [242]:
 women_odi_btm_table['Rating'] = women_odi_btm_table['Rating'].astype('int')

In [243]:
women_odi_btm_table = women_odi_btm_table.sort_values(by=['Rating'],ascending=False)

In [244]:
table = women_odi_btm_table.reset_index()

In [245]:
table.drop('index',axis=1,
           inplace=True)

In [246]:
table

  Team             Player  Rating
0  ENG     Tammy Beaumont     765
1   SA        Lizelle Lee     758
2  AUS       Alyssa Healy     756
3   WI    Stafanie Taylor     746
4  AUS        Meg Lanning     723
5   NZ  Amy Satterthwaite     715
6  IND    Smriti Mandhana     710
7  IND        Mithali Raj     709
8  ENG     Natalie Sciver     685
9   SA    Laura Wolvaardt     683

## iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [247]:
players_all_rounder = []
for i in players[18:]:
    for j in i.find('a'):
        players_all_rounder.append(j)

In [248]:
players_all_rounder

['Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr']

In [249]:
teams_allRounder = []
rating_all_rounder=[]

for i in teams[18:]:
    teams_allRounder.append(i.text)
        
        
for i in rating_players[18:]:
    rating_all_rounder.append(i.text)

In [250]:
teams_allRounder

['AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

### EXtracting information of 1st player

In [251]:
top_player_ar= soup1.find_all('div',class_='rankings-block__banner--name')
top_team_ar= soup1.find_all('div',class_='rankings-block__banner--nationality')
top_rating_ar = soup1.find_all('div',class_='rankings-block__banner--rating')

In [252]:
top_player_ar,top_rating_ar,top_team_ar

([<div class="rankings-block__banner--name">Tammy Beaumont</div>,
  <div class="rankings-block__banner--name">Jess Jonassen</div>,
  <div class="rankings-block__banner--name">Marizanne Kapp</div>],
 [<div class="rankings-block__banner--rating">765</div>,
  <div class="rankings-block__banner--rating">808</div>,
  <div class="rankings-block__banner--rating">418</div>],
 [<div class="rankings-block__banner--nationality">
  <div class="flag-15 ENG"></div>
  <span class="rankings-block__banner--nation"></span>ENG
                              <div class="rankings-block__banner--rating">765</div>
  </div>,
  <div class="rankings-block__banner--nationality">
  <div class="flag-15 AUS"></div>
  <span class="rankings-block__banner--nation"></span>AUS
                              <div class="rankings-block__banner--rating">808</div>
  </div>,
  <div class="rankings-block__banner--nationality">
  <div class="flag-15 SA"></div>
  <span class="rankings-block__banner--nation"></span>SA
                              <div class="rankings-block__banner--rating">418</div>
  </div>])

In [253]:
players_all_rounder.append(top_player_ar[-1].text)

In [254]:
rating_all_rounder.append(top_rating_ar[-1].text)

In [255]:
count = 0 
cont = ''
for i in top_team_ar[-1]:
    count = count+1
    if(count==5):
        cont =i

top_tn = cont.replace('\n','')
teams_allRounder.append(top_tn.replace(' ',''))

In [256]:
teams_allRounder

['AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ', 'SA']

In [257]:
odi_women_ar_dict = {
    'Team': teams_allRounder, 'Player': players_all_rounder, 'Rating': rating_all_rounder
}
women_odi_btm_table = pd.DataFrame(odi_women_ar_dict
                                )

In [258]:
 women_odi_btm_table['Rating'] = women_odi_btm_table['Rating'].astype('int')

In [259]:
all_rounder_table = women_odi_btm_table.sort_values(by=['Rating'],ascending=False)

In [260]:
table_ar = all_rounder_table.reset_index()

In [261]:
table_ar.drop('index',axis=1,
           inplace=True)

In [262]:
table_ar

  Team            Player  Rating
0  AUS      Ellyse Perry     418
1   SA    Marizanne Kapp     418
2   WI   Stafanie Taylor     410
3  ENG    Natalie Sciver     349
4  IND     Deepti Sharma     343
5  AUS     Jess Jonassen     307
6  AUS  Ashleigh Gardner     252
7   SA  Dane van Niekerk     243
8   NZ     Sophie Devine     242
9   NZ       Amelia Kerr     236